body {
	background-color: black;
}

#home {
	float: right;
	color: white;
	font-size: 4em;
}

.basile {
	display: block;
	margin-left: 0;
	margin-right: auto;
	width: 480px;
}

.antonin {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 480px;
}

.leo {
	display: block;
  	margin-left: auto;
  	margin-right: 0px;
  	width: 480px;
}

/*
.basile {
	background-image: url(../media/basile.jpg);
}

.antonin {
	background-image: url(../media/antonin.jpg);
}

.leo {
	background-image: url(../media/leo.jpg);
}

 .link {
	background-size: cover;
	width: 80%;
	height: 600px;
	border: 15px solid rgb(237,28,39);
	padding: 50px; 
	margin: 20px;
	font-size: 45px;
	vertical-align: middle;
	line-height: 100px;
} */