/* Lycée */

h1 {
	text-align: center;
}

.lycee {
	background-color: black;
	color: white;
}

.desc {
	text-align: justify;
}

.header {
	height: 300px;
	background: url('../media/arago-banner.jpg');
}

a {
	color: white;
}

.return {
	text-align: right;
}

#gif {
	position: absolute;
	right: 0px;
}